<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Candidats</title>
    <link rel="stylesheet" href="css/ajouterCandidat.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" id="logo">Election</a>
        </nav>
    </header>
    <h1>Liste des Candidats</h1>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Description</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Doe</td>
                    <td>John</td>
                    <td>Description du candidat</td>
                    <td><img src="path/to/photo.jpg" alt="Photo du candidat"></td>
                </tr>
                <!-- Ajoutez d'autres lignes pour d'autres candidats ici -->
            </tbody>
        </table>
    </main>
</body>
</html>
