<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Électeurs</title>
    <link rel="stylesheet" href="css/listerElecteur.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" id="logo">Election</a>
        </nav>
    </header>
    <h1>Liste des Électeurs</h1>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>CIN</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Smith</td>
                    <td>John</td>
                    <td>123456</td>
                    <td>john@example.com</td>
                    <td>
                        <a href="modifierElecteur.html">
                            <button type="button" class="modifier">Modifier</button>
                        </a>
                        <button type="button" class="supprimer">Supprimer</button>
                    </td>
                        
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
