<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vote d'Électeur</title>
    <!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap">
    <!-- CSS -->
    <link rel="stylesheet" href="css/vote.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" id="logo">Election</a>
        </nav>
    </header>
    <h1>Votez Maintenant</h1>
    <main>
        <div class="candidates">
            <h2>Candidats</h2>
            <ul>
                <li>
                    <input type="radio" id="candidate1" name="candidate" value="candidate1">
                    <label for="candidate1">Candidat 1</label>
                </li>
                <li>
                    <input type="radio" id="candidate2" name="candidate" value="candidate2">
                    <label for="candidate2">Candidat 2</label>
                </li>
                <li>
                    <input type="radio" id="candidate3" name="candidate" value="candidate3">
                    <label for="candidate3">Candidat 3</label>
                </li>
            </ul>
        </div>
        <div class="vote-button">
            <button type="button">Voter</button>
        </div>
    </main>
</body>
</html>
